mixin inspoImage(path,type)
	- if(type ==="half")
		img(
			sizes="(min-width: 550px) 550px,(min-width: 768px) 266px,(min-width: 1025px) 316px, calc(100vw - 40px)",
			srcset=`
				${ s7ImagePath( {image:path, width:320 } ) } 320w,
				${ s7ImagePath( {image:path, width:650 } ) } 650w,
				${ s7ImagePath( {image:path, width:920 } ) } 920w
				`
			src=`${ s7ImagePath( {image:path, width:650 } ) }`,
			alt=`${ path }`
		)
	- else
		img(
			sizes="(min-width: 550px) 550px,(min-width: 1025px) 650px,calc(100vw - 40px)",
			srcset=`
				${ s7ImagePath( {image:path, width:320 } ) } 320w,
				${ s7ImagePath( {image:path, width:650 } ) } 650w,
				${ s7ImagePath( {image:path, width:920 } ) } 920w,
				${ s7ImagePath( {image:path, width:1160 } ) } 1160w,
				${ s7ImagePath( {image:path, width:1300 } ) } 1300w,
				`
			src=`${ s7ImagePath( {image:path, width:650 } ) }`,
			alt=`${ path }`
		)

mixin pdpIconModule(content)
	.module.module-pdp(onclick=`s.tl(this,'o','pdpelement-attemptedclick-${ content.adobeAnalyticsId || content.hed || 'null' }')`)
		if (content.hed)
			h2.module__hed.module-pdp__hed!= content.hed
		if(content.items)
			.module-pdp__icon-grid
				each item in content.items
					.module-pdp__icon-column
						if(item.svg)
							img.module-pdp__icon-image(
								src= s7ContentPath(item.svg)
							)
						if(item.hed)
							h3.module-pdp__icon-hed!= item.hed
						if(item.dek)
							p.module__dek.module-pdp__icon-dek!= item.dek

mixin pdpVideoModule(content)
	.module.module-pdp-video
		if(content.hed)
			h2.module__hed.module-pdp__hed!= content.hed
		if(content.video)
			.module-pdp-video__player.js-pdp-video-player(onclick=`s.tl(this,'o','pdpelement-videoplay-${ content.adobeAnalyticsId || content.hed || 'null' }')`)
				video.module-pdp-video__video.js-pdp-video__video.lazyload(muted,playsinline)
					source(
						data-src-lg=s7ContentPath(content.video) + '_pdp_large'
						data-src-sm=s7ContentPath(content.video) + '_pdp_small'
						type="video/mp4"
					)
				button.module-pdp-video__button.js-pdp-video__button
					span.visually-hidden.js-pdp-video__button-text Play