.insta-grid.insta-grid_loops
	each video,i in grid3D
		.instagram-media
			video(id='instagram-media_video', src='https://www.muranophotography.com/videos/'+ video.image, autoplay, loop, muted, playsinline)