script.
		function openNav() {
			const flyout = document.getElementById("nav-dropdown_flyout");
			const hamberger = document.getElementById("hamberger");
			
			flyout.classList.toggle("nav-open");
			hamberger.classList.toggle("nav-open");
		}

		document.getElementById("hamberger").addEventListener("click", function() {
			openNav();
		});


</body>
</html>