.footer
	.svg-icon_grid
		a.svg-icon(href='https://www.linkedin.com/in/darinmurano' target='_blank')
			img(src='/images/Linkedin.svg')
		a.svg-icon(href='https://www.instagram.com/darinmurano/' target='_blank')
			img(src='https://www.muranophotography.com/images/Instagram.svg')
	.container-item_spacer--xsmall
	h4
		a(href='mailto:darin@muranophotography.com') darin@muranophotography.com
</div>