<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MURANO PHOTOGRAPHY &copy; 2020 | Web Development</title>
		<meta name="description" content="Darin Murano | Multidisciplined creator | I take lessons I’ve learned from multiple disciplines to evolve as a creative.">
		<link rel="shortcut icon" HREF="https://www.muranophotography.com/mplogo.ico">
		<link rel="stylesheet" type="text/css" href="murano2020.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="lazysizes.min.js" async=""></script>
	</head>

	<body>