.insta-grid.insta-grid_stills
	each gridimg,i in gridImages
		//- img.instagram-media(src='/images/thumbs/'+ gridimg.image+".jpg")
		picture.instagram-media
			source(
				media="(min-width:768px)"
				data-srcset=getSrcSet({
					image: "thumbs/"+gridimg.image+".jpg",
					sizes: [768,1440]
				})
			)
			img.lazyload(
				data-sizes="auto"
				src=placeholderSrc(1440,768)
				data-srcset=getSrcSet({
					image: "thumbs/"+gridimg.image+"-mb.jpg",
					sizes: [375,700]
				})
				alt=""
			)