.nav
	.logo
		h3
			a(href='index.html') DARIN MURANO
.nav-dropdown
	#nav-dropdown_flyout.nav-dropdown_flyout
		ul
			li
				a(href='index.html') HOME
			li
				a(href='web.html') WEB DEV
			li
				a(href='video.html') VIDEO/3D/FX
			li
				a(href='photo.html') PHOTOGRAPHY
			li
				a(href='casestudy.html') CASE STUDIES
			li
				a(href='about.html') ABOUT ME
	#hamberger.hamberger
		img(src='https://www.muranophotography.com/images/hamberger.svg')