.container-hed
	h2!= buildProcessTile
	p!= buildProcessText

.dev-example_bracketing
	.dev-example_bracketing--wraper.dev-example_bracketing--wraper__narrow
		.dev-example_bracketing--brackets
	.dev-example_bracketing--wraper
		.dev-example_bracketing--rule
	.dev-example_bracketing--wraper
		.dev-example_bracketing--ends
		.dev-example_bracketing--ends

.svg-icon_grid.svg-icon_grid--web-process
	each icon,i in buildProcess[0].buildProcessIcons
		.dev-example
			img.svg-icon(src='https://www.muranophotography.com/images/' + icon.iconImg)
			h4!= icon.title
			p!= icon.text
		.dev-example_arrow
			img(src='https://www.muranophotography.com/images/arrow.svg')