.slick-gallery
	.container-item_slick
		.slider-nav
			each slickImg,i in slickImages
				picture
					source(
						media="(min-width:768px)"
						data-srcset=getSrcSet({
							image: "thumbs/"+slickImg.slickimg+".jpg",
							sizes: [768,1440]
						})
					)
					img.lazyload(
						data-sizes="auto"
						src=placeholderSrc(1440,768)
						data-srcset=getSrcSet({
							image: "thumbs/"+slickImg.slickimg+"-mb.jpg",
							sizes: [375,700]
						})
						alt=""
					)

.slick-gallery.slick-gallery_lightbox
	.slick-gallery_lightbox--background
	.container-item_slick
		.slider-for
			each slickImg,i in slickImages
				picture
					source(
						media="(min-width:768px)"
						data-srcset=getSrcSet({
							image: slickImg.slickimg+".jpg",
							sizes: [768,1440]
						})
					)
					img.lazyload(
						data-sizes="auto"
						src=placeholderSrc(1440,768)
						data-srcset=getSrcSet({
							image: slickImg.slickimg+"-mb.jpg",
							sizes: [375,700]
						})
						alt=""
					)
		.close-icons
			img(src='https://www.muranophotography.com/images/close.svg')