.insta-grid.insta-grid_small
	each video,i in gridVideo
		.instagram-media
			a(href=`https://youtu.be/`+ video.url target=`_blank`)
				//- picture
				//- 	img(src='/images/thumbs/'+ video.image+".jpg")
				picture
					source(
						media="(min-width:768px)"
						data-srcset=getSrcSet({
							image: "thumbs/"+video.image+".jpg",
							sizes: [768,1440]
						})
					)
					img.lazyload(
						data-sizes="auto"
						src=placeholderSrc(1440,768)
						data-srcset=getSrcSet({
							image: "thumbs/"+video.image+"-mb.jpg",
							sizes: [375,700]
						})
						alt=""
					)