div(class=`loop-media loop-media_casestudy loop-media_${ id }`)
	video.loop-media_video--1(id='loop-media_video', src='https://www.muranophotography.com/videos/'+ version, autoplay, loop, muted, playsinline)
	#playvideobutton.loop-media_controls
		.svg-controls
			<svg id='playButt' class='playButton' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'><title>Play_Desktop</title><path d='M26,1A25.14,25.14,0,0,0,1,26,25.14,25.14,0,0,0,26,51,25.14,25.14,0,0,0,51,26,25.14,25.14,0,0,0,26,1Zm0,47.7A22.7,22.7,0,1,1,48.7,26,22.75,22.75,0,0,1,26,48.7Z' transform='translate(-1 -1)'/><path d='M19.8,38.2,40,26,19.8,13.8ZM35.8,26,22,34.2V17.8Z' transform='translate(-1 -1)'/></svg><svg id='pauseButt' class='pauseButton hidden' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'><title>Pause_Desktop</title><path d='M26,1A25.14,25.14,0,0,0,1,26,25.14,25.14,0,0,0,26,51,25.14,25.14,0,0,0,51,26,25.14,25.14,0,0,0,26,1Zm0,47.7A22.7,22.7,0,1,1,48.7,26,22.75,22.75,0,0,1,26,48.7Z' transform='translate(-1 -1)'/><rect x='18.5' y='14.3' width='2.2' height='21.3'/><rect x='29.3' y='14.3' width='2.2' height='21.3'/></svg>