p!= directions
.container-item
	.container-item_background.container-item_background--row
		.container-item_background--obj.container-item_background--obj__wide
			each example,i in version.wide
				picture
					source(
						media="(min-width:768px)"
						data-srcset=getSrcSet({
							image: example.exampleImg+".jpg",
							sizes: [768,1440]
						})
					)
					img.lazyload(
						data-sizes="auto"
						src=placeholderSrc(1440,768)
						data-srcset=getSrcSet({
							image: example.exampleImg+"-mb.jpg",
							sizes: [375,700]
						})
						alt=""
					)
		.container-item_background--obj.container-item_background--obj__narrow
			each example,i in version.narrow
				picture
					source(
						media="(min-width:768px)"
						data-srcset=getSrcSet({
							image: example.exampleImg+".jpg",
							sizes: [768,1440]
						})
					)
					img.lazyload(
						data-sizes="auto"
						src=placeholderSrc(1440,768)
						data-srcset=getSrcSet({
							image: example.exampleImg+"-mb.jpg",
							sizes: [375,700]
						})
						alt=""
					)
