include _header
include _navigation

- var data = about2020V1
- var { header, list } = data

<div class='container'>
	.container-item_spacer--small
	.container-hed.center-stack
		h1!= header.title
		p.left-align!= header.textOne

		.container-item_spacer--xsmall

		ul.about-list.left-align
			each listItem,i in list
				li!= listItem.item
					img.plus-icon(src='https://www.muranophotography.com/images/close.svg')


include _footer
include _closeheader