include _header
include _navigation

- var data = caseStudy2020V1
- var { directions, flowchart, header, videos, videoLoops, challenges, gridImages } = data

<div class='container'>
	.container-item_spacer--small
	.container-hed
		h1!= header.title
		h4!= header.textOne

	.container-item_spacer--xsmall
	.container-wrap
		-var version = videos[0].video
		include _video-container

	.container-hed
		h3!= challenges[0].title
		p
			a(href='https://company.eko.com/brands/portfolio/branded#madewell' target='_blank') https://company.eko.com

		p.left-align!= challenges[0].text

	.container-item_spacer--small
	.container-wrap.container-wrap_autoheight.svg-img
		img.svg-icon_flowchart(src='https://www.muranophotography.com/images/flowchart.svg')

	.container-item_spacer--small
	.container-wrap.container-wrap_autoheight
		p!= directions
		include _image-grid

	.container-item_spacer
	.container-hed
		h1!= header.title
		h4!= header.textTwo

	.container-item_spacer--xsmall
	.container-wrap
		-var version = videos[1].video
		include _video-container

	.container-hed
		h3!= challenges[1].title
		p.left-align!= challenges[1].text

	.container-item_spacer--xsmall
	.container-wrap
		-var version = videoLoops[0].video
		-var id = '1'
		include _video-loop-medium

	.container-hed
		h3!= challenges[2].title
		p.left-align!= challenges[2].text

	.container-item_spacer--xsmall
	.container-wrap
		-var version = videoLoops[1].video
		-var id = '2'
		include _video-loop-medium

	.container-item_spacer


script.
	const player1 = document.querySelector('.loop-media_1');
	const player2 = document.querySelector('.loop-media_2');
	const toggle1 = player1.querySelectorAll('.loop-media_controls');
	const toggle2 = player2.querySelectorAll('.loop-media_controls');

	let lastClicked

	function toggleVideo () {
		lastClicked = this.previousElementSibling;

		if(lastClicked.paused) {
			lastClicked.play();  
		}
		else {
			lastClicked.pause();
		}
	}

	toggle1.forEach(button => button.addEventListener ('click', toggleVideo ));
	toggle2.forEach(button => button.addEventListener ('click', toggleVideo ));

include _footer
include _closeheader