include _header
include _navigation

- var data = homePage2020V1
- var { header } = data

<div class='container'>
	.container-item_spacer--small
	.container-hed_wide
		h1.home-bold!= header.title
		h1.left-align.left-m20!= header.subTitle

	.container-hed_wide
		h2.home-bold.home-bold_small.left-m20!= header.text

	.container-item_spacer

include _footer
include _closeheader