include _header
include _navigation

- var data = photo2020V1
- var { header, directions, slickImages } = data

<div class='container'>
	.container-item_spacer--small
	.container-hed
		h1!= header.title
		h4!= header.text

	.container-item_spacer--small
	p!= directions

	include _slick-gallery

	.container-item_spacer

include _footer
		
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

script.
	$('.slider-nav').slick({
		slidesToShow: 4,
		infinite: false,
		asNavFor: '.slider-for',
		dots: false,
		arrows: false,
		centerMode: false,
		focusOnSelect: true,
		responsive: [
			{
				breakpoint: 768,
				settings: {
					slidesToShow: 2
				}
			}
		]
	});
	$('.slider-for').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: true,
		fade: true,
		centerMode: true,
		asNavFor: '.slider-nav',
		responsive: [
			{
				breakpoint: 768,
				settings: {
					arrows: false,
					fade: false,
					speed: 300
				}
			}
		]
	});
	$(document).ready(function(){
		$(".slick-slide").click(function(){
			$(".slick-gallery_lightbox").css("display", "flex");
		});
		$(".slick-gallery_lightbox--background, .close-icons").click(function(){
			$(".slick-gallery_lightbox").css("display", "none");
		});
	});
	$(document).on('keyup',function(evt) {
		if (evt.keyCode == 27) {
			$(".slick-gallery_lightbox").css("display", "none");
		}
	});

include _closeheader