include _header
include _navigation

- var data = video2020V1
- var { directions, header, headerIcons, buildProcessTile, buildProcessText, buildProcess, challenges, videos, gridVideoTitle, gridVideoText, gridVideo, grid3D } = data

<div class='container'>
	.container-item_spacer--small
	.container-hed
		h1!= header.title
		h4!= header.text
	
	.container-hed
		include _svg-icons

	.container-item_spacer
	.container-wrap
		-var version = videos[0].video
		include _video-container

	.container-item_spacer--small
	.container-wrap
		-var version = videos[1].video
		include _video-container

	.container-item_spacer
	.container-hed_wide
		include _process

	.container-item_spacer
		.container-hed
			h2!= gridVideoTitle
			p!= gridVideoText
			h4!= '&nbsp;'

	.container-wrap.container-wrap_autoheight
		p!= directions[0].direction
		include _video-grid-small

	.container-item_spacer--small
	.container-wrap
		-var version = videos[2].video
		include _video-container

	.container-item_spacer
	.container-hed
		h2!= challenges.title
		p!= challenges.text
		h4!= '&nbsp;'

	.container-wrap.container-wrap_autoheight
		p!= directions[1].direction
		include _3D-grid

	.container-item_spacer--small
	.container-wrap
		-var version = videos[3].video
		include _video-container

	.container-item_spacer--small
	.container-wrap
		-var version = videos[4].video
		include _video-container
	
	.container-item_spacer

script.
	var instaGrid = document.querySelector(".insta-grid_loops");
	var player = instaGrid.querySelectorAll("#instagram-media_video");

	let lastClicked

	function toggleVideo () {
		lastClicked = this;

		if(lastClicked.paused) {
			lastClicked.play();  
		}
		else {
			lastClicked.pause();
		}
	}

	player.forEach(video => video.addEventListener ("click", toggleVideo ));

include _footer
include _closeheader