include _header
include _navigation

<svg class="clip-shape" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1360 710"><defs><clipPath id="clip-path" clipPathUnits="objectBoundingBox" transform="scale(0.00073529411 0.0014084507)"><rect class="cls-1" x="40" y="0" width="915" height="630" rx="30"/><rect class="cls-2" x="1020" y="0" width="312" height="630" rx="30"/></clipPath></defs></svg>

- var data = web2020V1
- var { directions, header, headerIcons, buildProcessTile, buildProcessText, buildProcess, challenges, examples } = data

<div class='container'>
	.container-item_spacer--small
	.container-hed
		h1!= header.title
		h4!= header.text
	
	.container-hed
		include _svg-icons

	.container-item_spacer
	.container-wrap
		-var version = examples[0].example[0]
		include _web-example
	
	.container-hed_wide
		include _process

	.container-item_spacer
	.container-wrap
		-var version = examples[1].example[0]
		include _web-example

	.container-hed
		h2!= challenges.title
		p!= challenges.text

	.container-item_spacer
	.container-wrap
		-var version = examples[2].example[0]
		include _web-example
	
	.container-item_spacer--small
	.container-hed
		p
			img.click-icons(src='https://www.muranophotography.com/images/mouse.svg')
			| &nbsp;
			a(href='https://www.madewell.com/inspo' target='_blank')
				| Click here
			|  to view an archive of Madewell pages i've worked on dating back the last three years.
		picture.inspo
					source(
						media="(min-width:768px)"
						data-srcset=getSrcSet({
							image: "Madewell-Inspo.jpg",
							sizes: [768,1440]
						})
					)
					img.lazyload(
						data-sizes="auto"
						src=placeholderSrc(1440,768)
						data-srcset=getSrcSet({
							image: "Madewell-Inspo.jpg",
							sizes: [375,700]
						})
						alt=""
					)
	
	.container-item_spacer

include _footer
include _closeheader