body {
	box-sizing: border-box;
	margin: 0;
	display: flex;
	justify-content: center;
	font-family:'Varela Round', sans-serif;
	text-align: center;
	background-color: #fff;
}
h1 {
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 0.125rem;
	line-height: 1;
	margin: 0 0 0.35em;

	@media only screen and (min-width: 768px) {
		font-size: 2.5rem;
	}
}
h2 {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.125rem;
	line-height: 1;
	margin: 0 0 0.5em;

	@media only screen and (min-width: 768px) {
		font-size: 2rem;
	}
}
h3 {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.125rem;
	line-height: 1.25;
	margin: 0 0 0.5em;
}
h4 {
	font-size: 1.1rem;
	font-weight: 400;
	letter-spacing: 0rem;
	line-height: 1.35;
	margin: 0 0 0.125em;

	@media only screen and (min-width: 768px) {
		font-size: 1.25rem;
	}
}
p {
	font-size: 1rem;
	font-weight: 100;
	letter-spacing: 0.05rem;
	line-height: 1.5;
	margin: 0 0 1em;
}
ul {
	list-style: none;
	font-size: 0.7rem;
	font-weight: 100;
	letter-spacing: 0.025rem;
	line-height: 1.15;
	margin: 0;
	padding: 5px 0 1px 10px;
	color: #777;
}
a {
	color: #000;
}
.left-m20 {
	margin-left: 0px;

	@media only screen and (min-width: 1024px) {
		margin-left: 10px;
	}

	@media only screen and (min-width: 1440px) {
		margin-left: 20px;
	}
}
.home {
	&-bold {
		font-family: 'Heebo', sans-serif;
		font-weight: 900;
		font-size: 15vw;
		line-height: 0.8;
		color: #ccc;
		text-align: left;
		margin: 4rem 0 0;

		@media only screen and (min-width: 1440px) {
			font-size: 13rem;
		}

		&_small {
			font-size: 8vw;
			line-height: 0.9;
			color: #ccc;
			text-align: left;
			margin: 0;

			@media only screen and (min-width: 1440px) {
				font-size: 6.5rem;
			}
		}
	}

	&-overlay {
		width: 100%;
		max-width: 1200px;

		&_row {
			width: 100%;
			display: flex;
			justify-content: space-around;

			&--negmargin {
				margin: -100px 0 50px;
			}
		}

		&_circle {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&--1 {
				background-image: url('http://www.muranophotography.com/images/Circle-1.svg');
				background-repeat: no-repeat;
				width: 150px;
				height: 150px;
			}

			&--2 {
				background-image: url('http://www.muranophotography.com/images/Circle-2.svg');
				background-repeat: no-repeat;
				width: 200px;
				height: 200px;
			}

			&--3 {
				background-image: url('http://www.muranophotography.com/images/Circle-3.svg');
				background-repeat: no-repeat;
				width: 150px;
				height: 150px;
			}

			&--4 {
				background-image: url('http://www.muranophotography.com/images/Circle-4.svg');
				background-repeat: no-repeat;
				width: 190px;
				height: 190px;
			}

			h2 {
				margin-bottom: 0;
			}
		}

		a {
			text-decoration: none;
		}
	}
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	color: #fff;
	width: 100vw;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 80;

	&-dropdown {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100vh;
		z-index: 90;

		&_flyout {
			position: absolute;
			top: 60px;
			left: -100vw;
			background-color: rgba(0, 0, 0, 0.85);
			width: 100vw;
			height: 100vh;
			text-align: left;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			transition: left 0.25s;

			.select {
				background-color: #555;
			}

			@media only screen and (min-width: 768px) {
				left: -320px;
				width: 320px;
			}
		}

		ul {
			padding: 20px 0 0 10px;
		}

		a {
			color: #fff;
			text-decoration: none;
			font-size: 2rem;
			line-height: 2;
			padding: 0 10px;
		}

		a:hover {
			opacity: 0.5;
		}
	}
}
.nav-dropdown_flyout.nav-open {
	left: 0 !important;
	transition: left 0.25s;
}
.hamberger {
	width: 40px;
	height: 40px;
	margin: 10px;
	filter: invert(100%);
	-webkit-filter: invert(100%);
	transform: rotateZ(0deg);
	transition: transform 0.5s;
	z-index: 100;

	&:hover {
		cursor: pointer;
	}
}
.hamberger.nav-open {
	transform: rotateZ(90deg);
	transition: transform 0.5s;
}
.logo h3 {
	margin: 3px 0 0;

	a {
		color: #fff;
		text-decoration: none;
	}
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 300px;
	background-color: #333;

	@media only screen and (min-width: 768px) {
		min-height: 400px;
	}

	.svg-icon_grid {
		width: 100%;
		filter: invert(100%);
		margin-top: 0;

		@media only screen and (min-width: 1024px) {
			width: 50%;
		}
	}

	a {
		color: #fff;
	}
}
.cls-1 {
	@media only screen and (max-width: 767px) {
		width: 95%;
		max-width: 915px;
		height: 630px;
		max-height: 630px;
	}

	@media only screen and (min-width: 768px) {
		width: 95%;
	}

	@media only screen and (min-width: 1024px) {
		width: 915px;
	}
}
.cls-2 {
	@media only screen and (min-width: 1024px) {
		height: 630px;
		max-height: 630px;
		display: block;
	}
}
.ml-40 {
	@media only screen and (min-width: 1440px) {
		padding-left: 40px;
	}
}
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&-hed {
		width: 90vw;
		max-width: 90vw;
		margin: 50px auto 0;

		@media only screen and (min-width: 768px) {
			width: 100%;
		}

		@media only screen and (min-width: 1024px) {
			max-width: 820px;
		}

		&_wide {
			width: 100%;
			max-width: 1440px;

			@media only screen and (min-width: 1440px) {
				width: 80%;
			}
		}
	}

	&-wrap {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		align-items: center;
		filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.10));

		@media only screen and (min-width: 1440px) {
			min-height: 800px;
			max-height: 800px;
			max-width: 1440px;
		}

		&_video {
			width: calc(100% - 10px);
			height: 60vw;
			display: block;

			@media only screen and (min-width: 1440px) {
				height: 100%;
				height: -webkit-fill-available;
			}
		}

		&_autoheight {
			min-height: unset !important;
		}
	}

	&-item {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vw;
		min-height: 100vw;
		background-color: #fff;
		clip-path: url(#clip-path);

		@media only screen and (min-width: 768px) {
			min-height: 52vw;
		}

		@media only screen and (min-width: 1024px) {
			height: 52vw;
			min-height: 52vw;
		}

		@media only screen and (min-width: 1440px) {
			height: 750px;
			max-height: 750px;
			min-height: 750px;
		}

		&_background {
			display: flex;
			justify-content: space-around;
			overflow-x: hidden;
			overflow-y: scroll;
			white-space: nowrap;
			scrollbar-width: none;
			-ms-overflow-style: none;

			&::-webkit-scrollbar {
				display: none;
			}

			&--obj {
				&__wide {
					flex-basis: 100%;
					width: 100%;

					@media only screen and (min-width: 1024px) {
						flex-basis: 70%;
						width: 70%;
					}
				}

				&__narrow {
					flex-basis: 24%;
					width: 24%;

					@media only screen and (min-width: 1024px) {
						height: 630px;
						max-height: 630px;
						display: block;
					}
				}
			}
		}

		&_spacer {
			width: 100%;
			min-height: 20vw;

			@media only screen and (min-width: 768px) {
				min-height: 100px;
			}

			@media only screen and (min-width: 1024px) {
				min-height: 150px;
			}

			&--small {
				width: 100%;
				min-height: 10vw;

				@media only screen and (min-width: 768px) {
					width: 100%;
					min-height: 50px;
				}

				@media only screen and (min-width: 1024px) {
					width: 100%;
					min-height: 75px;
				}
			}

			&--xsmall {
				width: 100%;
				min-height: 5vw;

				@media only screen and (min-width: 768px) {
					width: 100%;
					min-height: 30px;
				}
			}
		}
	}
}
.container-item_spacer picture, .container-item_background--obj picture {
	display: block;
}
.container-item_spacer img, .container-item_background--obj img {
	flex-basis: 100%;
	width: 100%;
}
.slick-gallery {
	width: 100%;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	align-items: center;

	&_lightbox {
		position: fixed;
		top: 0;
		bottom: 0;
		max-width: 100%;
		display: none;
		z-index: 50;

		&--background {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.75);
		}

		.container-item_slick {
			width: 100vw;
			max-width: 1400px;
			background-color: transparent;
			z-index: 10;

			@media only screen and (min-width: 768px) {
				width: calc(100% - 150px);
			}
		}

		.slick-slide:nth-of-type(8) img, {
			@media only screen and (min-width: 1024px) {
				position: absolute;
				top: 220px;
				bottom: 220px;
				left: 0;
				right: 0;
			}
		}

		.slick-slide:nth-of-type(9) img, {
			@media only screen and (min-width: 1024px) {
				position: absolute;
				top: 220px;
				bottom: 220px;
				left: 0;
				right: 0;
			}
		}

	}

	.container-item_slick {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
.slider-nav {
	.slick-track {
		width: 105% !important;
		transform: unset !important;
	}

	 .slick-slide:hover {
		cursor: pointer;
		opacity: 0.8;
		transition: opacity 0.25s;
	}
}
.slick-slide {
	img {
		width: calc(100% - 10px);
		max-width: 100vh;
		margin: 0 auto 10px;
		filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.10));
	}
}
.close-icons {
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: fixed;
	top: 75px;
	right: 20px;
	filter: invert(100%);
	-webkit-filter: invert(100%);
	z-index: 20;
}
.slick-prev, .slick-next {
	background-image: url('http://www.muranophotography.com/images/arrow.svg');
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	position: absolute;
	top: calc(50% - 20px);
	right: -55px;
	background-color: unset;
	border: unset;
	font-size: 0;
	filter: invert(100%);
	-webkit-filter: invert(100%);
	z-index: 10;
}
.slick-prev {
	transform: rotateZ(180deg);
	left: -55px;
}
.slick-arrow:hover {
	cursor: pointer;
}
.clip-shape {
	height: 0;
}
.svg-icon {
	width: 20%;
	margin: 15px;

	@media only screen and (max-width: 767px) {
		height: 20vw;
	}

	@media only screen and (min-width: 768px) {
		width: 12%;
		margin: 10px;
	}

	&_mw {
		width: 20%;
	}

	&grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		margin-top: 40px;

		&--web-process {
			.svg-icon {

				@media only screen and (min-width: 768px) {
					width: 60%;
				}

				@media only screen and (min-width: 1024px) {
					max-width: 96px;
				}
			}
		}
	}

	&_flowchart {
		@media only screen and (min-width: 1024px) {
			width: 80%;
		}
	}
}
.svg-icon_flowchart, .inspo img {
	width: 80%;
}
.svg-icon_grid--web-process, .svg-icon_grid--video-process {
	margin-top: 0;
}
.svg-icon_grid--web-process .svg-icon, .svg-icon_grid--video-process .svg-icon {
	width: 30%;
	max-width: 140px;
}
.about-list {
	font-size: 1.125rem;
	line-height: 1.5;
	letter-spacing: .15rem;
	text-transform: uppercase;
	color: #000;
	-webkit-text-stroke: 2px;

	@media only screen and (min-width: 768px) {
		font-size: 2rem;
	}

	@media only screen and (min-width: 1024px) {
		font-size: 3.25rem;
		-webkit-text-stroke: 3px;
	}
}
.plus-icon {
	width: 5%;
	max-width: 37px;
	transform: rotateZ(45deg);
}
.center-stack {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.left-align {
	text-align: left;
}
.dev-example {
	padding: 20px;
	margin: 0 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100vw;

	@media only screen and (min-width: 768px) {
		width: 20%;
		max-width: 300px;
	}

	&_grid {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media only screen and (min-width: 768px) {
			flex-direction: row;
			align-items: flex-start;
		}
	}

	&_arrow {
		width: 40px;
		align-self: center;
		transform: rotateZ(90deg);

		@media only screen and (min-width: 768px) {
			transform: rotateZ(0deg);
			margin-bottom: 70px;
		}

		&:nth-of-type(12) {
			display: none;
		}

		&:nth-of-type(2n+2) {
			@media only screen and (min-width: 768px) {
				display: block;
			}
		}
		&:nth-of-type(3n+3) {
			@media only screen and (min-width: 768px) {
				display: none;
			}

			@media only screen and (min-width: 1024px) {
				display: none;
			}
		}
	}

	&_bracketing {
		width: 55%;
		margin: 30px auto 0;

		&--wraper {
			display: flex;
			justify-content: space-between;
			width: 100%;

			&__narrow {
				width: 1px;
				margin: 0 auto;
			}
		}

		&--rule {
			width: 100%;
			height: 1px;
			background-color: #000;
		}
	}
}
.dev-example_bracketing--brackets, .dev-example_bracketing--ends {
	width: 1px;
	height: 30px;
	background-color: #000;
}
.cls-2, .container-item_background--obj__narrow {
	display: none;
}
.container-hed {
	padding: 0 15px;
}
.insta-grid {
	display: flex;
	width: 100%;
	max-width: 1440px;
	justify-content: space-around;
	flex-wrap: wrap;

	&_stills {
		@media only screen and (min-width: 1024px) {
			width: calc(25% - 10px);
		}

		.instagram-media {
			width: calc(50% - 10px);
			padding: 5px;

			&:hover {
				cursor: unset;
				opacity: unset;
				transition: unset;
			}
		}

		img {
			height: intrinsic;
		}
	} 

	&_small {
		.instagram-media {
			width: calc(50% - 10px);
			padding: 0 5px 10px;
			position: relative;
		}
	}
}
.instagram-media {
	width: calc(100% - 10px);
	padding: 5px;
	position: relative;

	@media only screen and (min-width: 768px) {
		width: calc(16.5% - 10px);
		position: relative;
	}

	@media only screen and (min-width: 1024px) {
		width: calc(25% - 10px);
		padding: 0 5px 10px;
		position: relative;
	}

	&_controls {
		position: absolute;
		bottom: 0;
		width: 40px;
		margin: 10px;
		display: none;
	}

	&:hover {
		cursor: pointer;
	}
}
.instagram-media video, .instagram-media img, .insta-grid_stills img {
	width: 100%;
	display: block;
}
.svg-controls:hover {
	cursor: pointer;
	opacity: 0.5;
	transition: opacity 0.25s;
}
.playButton, .pauseButton {
	fill: #fff;
}
.hidden {
	display: none;
}
.material-icons {
	vertical-align: bottom;
}
.click-icons {
	width: 15px;
	vertical-align: text-bottom;

	@media only screen and (min-width: 768px) {
		width: 40px;
		height: 40px;
	}
}
#loop-media_video {
    width: 88%;
    height: intrinsic;
}
#playvideobutton {
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 0;
	margin-bottom: 10px;
}
.loop-media {
	display: flex;
	justify-content: center;
	position: relative;

	&_video {
		&--overlay {
			position: absolute;
			width: 88%;
		}
	}

	&_casestudy {
		.loop-media_controls {
			left: 0;
			margin-left: calc(7% - 0px);
		}
	} 
}